body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex; 
    flex-direction: column; 

}

header, 
footer {
    background-color: #1F2937;
}

.gray-background {
    background-color: #E5E7EB;
}

.blue-background {
    background-color: #3882F6;
}

.white {
    color: #F9FAF8;
}

.black {
    color: #1F2937;
}

.emphasized-text {
    font-size: 24px;
    font-weight: bold; 
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.info-header {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    margin-top: 0;
}

a {
    text-decoration: none;
}

button {
    background: #3882F6;
    border: none;
    border-radius: 8px;
    color: #F9FAF8; 
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
}

button.inverted {
    border: 1px solid #F9FAF8;
    padding: 4px 24px;
}

.placeholder {
    background-color: #8a8f98;
}

.placeholder img, 
.image-frame img {
    /* keep the image in the original aspect ratio in the box */
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.image-frame {
    border: 2px solid #3882F6;
    border-radius: 16px;
    width: 152px;
    height: 152px;  
} 

.heading {
    display: flex;   
    flex-direction: row; 
    padding: 0 120px; 
    justify-content: space-between;
    align-items: center; 
}

ul {
    list-style-type: none;
    display: flex; 
    gap: 24px; 
    margin: 0; 
    padding: 0;

}
.hero {
    display: flex; 
    padding: 72px 120px 114px 120px;
    gap: 48px;
}

.intro {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.main-text, 
.secondary-text {
    margin: 0;
}

.hero button {
    margin: 12px 0;
}

.placeholder {
    width: 50%;
}

.container {
    display: flex; 
    gap: 48px; 
    justify-content: center;
    padding-bottom: 84px;
}

.info {
    max-width: 152px;
    text-align: center;
}

.info-header {
    margin: 36px 0;
}

.gray-background p,
.blue-background p {
    margin: 0;
}

.gray-background {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    padding: 108px 152px; 
}

.gray-background .emphasized-text {
   align-self: flex-end; 
   padding-right: 36px; 
}

.bottom {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.blue-background {
    border-radius: 6px;
    margin: 100px 152px;
    gap: 108px; 
    padding: 40px 108px;  
    display: flex; 
    align-items: center; 
}     

main {
    flex: 1; 
}

footer {
    height: 100px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}